#commandCell {
  margin-top: 20px;
  text-align: center;
}

.td_left {
  background-color: #f4f4f4;
  font-weight: bold;
  width: 120px;
}

.td_right {
  background-color: #fff;
  padding-left: 10px;
}
